<div id="profilesection">

    <h1 id="profileh">{{user.title}} {{user.username}}'s profile</h1>

    <div id="profileedit">

        <h2 class="profileelements">Title: {{user.title}}</h2>
        <h2 class="profileelements">Username: {{user.username}}</h2>
        <h2 class="profileelements">Email: {{user.email}}</h2>
        <h2 class="profileelements">Profile Picture:</h2>
        <img class="profileelements" id="profileimg" src="{{loggedIn.imageUr}}" alt="{{user.username}} profile picture">

    </div>

    <a class="profileelements" id="editprofilebutton" href="/profile/edit">Edit Profile</a>
    
</div>