<div class="titles">
    <h1 style="font-size: 80px;">The Cork Pork</h1>
    <i style="font-size: 20px;">"A fine place to log your taste"</i><p>- Elmo</p>
</div>

<a href="/wine-details/{{_id}}">
    <img src="{{image}}" alt="{{wine}}">
    <h2>{{wine}}</h2>
    <p>{{winery}}</p>
    <p>{{location}}</p>
    <p>{{rating.average}}</p>
</a>