<h1>Mr/Ms. {{username}}'s  Favourite Wines</h1>

{{#each wine}}

    <a href="/wine-details/{{Wine._id}}">
        <img src="{{Wine.image}}" alt="{{Wine.wine}}">
        <h2>{{Wine.wine}}</h2>
        <p>{{Wine.winery}}</p>
        <p>{{Wine.location}}</p>
        <p>{{Wine.rating.average}}</p>
    </a>
    
{{/each}}