<h1>Mr/Ms. {{loggedIn.username}}'s  Favourite Wines</h1>

{{#each userFavourites}}

    <a href="/wine-details/{{_id}}">
        <img src="{{image}}" alt="{{wine}}">
    </a>
        <h2>{{wine}}</h2>
        <p>{{winery}}</p>
        <p>{{location}}</p>
        <p>{{rating.average}}</p>
        <form action="/favourites/{{_id}}/delete-favourite" method="post">
            <button type="submit">Remove from favourites</button>
        </form>
        <form action="/favourites/{{_id}}/delete-favourite-tasted" method="post">
            <button type="submit">Remove from favourites and tasted wines</button>
        </form>
    
    
{{/each}}