{{#unless noWines}}
<h1 id="searchresultsh">Search results:</h1>
{{/unless}}
<div id="winelisteach">

    {{#each wine}}
    <div id="eachwine">
            <a href="/wine-details/{{_id}}">
                <div id="littlewine">
                <img id="bottle" src="{{image}}" alt="{{wine}}">
                    <h1 style="color: darkred">{{wine}}</h1>
                    <p>From: {{location}}</p>
                    <p>Winery: {{winery}}</p>
                    <p>Rating: {{rating.average}}</p>
                </div>
            </a>
        </div>
    {{/each}}

</div>

{{#if noWines}}
<h1 class="no-result-h" id="searchresultsh">WH$rEzZZz mY WIIiIiIIiINE?!?#"#%#"??</h1>
<img class="error-img"src="https://res.cloudinary.com/dkoe4o8w1/image/upload/v1677182205/AMANCANTRY_md5gv9.jpg" alt="">
{{/if}}