<h1>Mr/Ms. {{loggedIn}}'s Tasted Wines</h1>

{{#each userWines.favourites}}

    <a href="/wine-details/{{_id}}">
        <img src="{{image}}" alt="{{wine}}">
        <h2>{{wine}}</h2>
        <p>{{winery}}</p>
        <p>{{location}}</p>
        <p>{{rating.average}}</p>
    </a>
    
{{/each}}