<h1>Mr/Ms. {{loggedIn.username}}'s Tasted Wines</h1>

{{#each userTasted}}

    <a href="/wine-details/{{_id}}">
        <img src="{{image}}" alt="{{wine}}">
        </a>
        <h2>{{wine}}</h2>
        <p>{{winery}}</p>
        <p>{{location}}</p>
        <p>{{rating.average}}</p>
        <form action="/wine-details/{{_id}}/add-favourite" method="post">
            <button type="submit">Add to Favourites</button>
        </form>
        <form action="/tasted-wines/{{_id}}/delete-tasted-wine" method="post">
            <button type="submit">Remove from tasted wines</button>
        </form>
    
    
{{/each}}