<div style="text-align: center">

<h1 id="winelisth">Our {{wineType}} Wine list</h1>

<form action="/wines-list" method="post">
<select name="wineType" id="sortBy" onchange="this.form.submit()">
    <option value="none" hidden selected></option>
    <option value="Red"> Red Wines</option>
    <option value="White">White Wines</option>
    <option value="Sparkling">Sparkling Wines</option>
    <option value="Rose">Rose Wines</option>
    <option value="Dessert">Dessert Wines</option>
    <option value="Port">Port Wines</option>
</select>

</form>
</div>

<div id="winelisteach">

    {{#each wine}}
    <div id="eachwine">
            <a href="/wine-details/{{_id}}">
                <div id="littlewine">
                <img id="bottle" src="{{image}}" alt="{{wine}}">
                    <h1 style="color: darkred">{{wine}}</h1>
                    <p>From: {{location}}</p>
                    <p>Winery: {{winery}}</p>
                    <p>Rating: {{rating.average}}</p>
                </div>
            </a>
        </div>
    {{/each}}


</div>

<h2 id="prevButton">PREVIOUS</h2>
<h2 id="nextButton">NEXT</h2>