<h1>Our wine list:</h1>

<div>


{{#each wine}}
    <a href="/wine-details/{{_id}}">
        <img src="{{image}}" alt="{{wine}}">
        <h2>{{wine}}</h2>
        <p>{{winery}}</p>
        <p>{{location}}</p>
        <p>{{rating.average}}</p>
    </a>
{{/each}}


</div>