<h2>{{wine.wine}}</h2>
<img src="{{wine.image}}" alt="{{wine.wine}}">
<p>{{wine.winery}}</p>
<p>{{wine.location}}</p>
<p>{{wine.rating.average}}</p>

{{#if loggedIn}}
<form action="/wine-details/{{wine._id}}/add-favourite" method="post">
    <button type="submit">Add to Favourites</button>
</form>
<form action="/wine-details/{{wine._id}}/add-tasted-wines" method="post">
    <button type="submit">Add to Tasted</button>
</form>
<form action="/wine-details/{{wine._id}}/add-wish-list" method="post">
    <button type="submit">Add to Wish List</button>
</form>

<form action="/review/create/{{wine._id}}" method="post">

    <textarea name="reviewContent" id="" cols="30" rows="10" placeholder="Review">

    </textarea>

    <button type="submit">Submit review</button>

</form>
{{/if}}

{{#each userFilteredReviews}}
<h1>Your review:</h1>
<textarea name="reviewContent" id="reviewContent" cols="30" rows="10">{{this.content}}</textarea>
<form action="/review/edit/{{this._id}}" method="post">
    <button type="submit">Edit your Review</button>
</form>
{{/each}}

<hr>

<h1>{{wine.wine}}'s Reviews:</h1>
{{#each filteredReviews}}
<h4>User:{{this.author.username}}</h4>
<p>{{this.content}}</p>
{{/each}}

