<h2>{{wine}}</h2>
<img src="{{image}}" alt="{{wine}}">
<p>{{winery}}</p>
<p>{{location}}</p>
<p>{{rating.average}}</p>
<a href="/favourites/{{_id}}">Add to Favourites</a>
<a href="/tasted-wines/{{_id}}">Add to Tasted</a>
<a href="/wish-list/{{_id}}">Add to Wish List</a>