<h2>{{wine.wine}}</h2>
<img src="{{wine.image}}" alt="{{wine}}">
<p>{{wine.winery}}</p>
<p>{{wine.location}}</p>
<p>{{wine.rating.average}}</p>
<a href="/wine-details/{{wine._id}}/add-favourite">Add to Favourites</a>
<a href="/wine-details/{{wine._id}}/add-tasted-wines">Add to Tasted</a>
<a href="/wine-details/{{wine._id}}/add-wish-list">Add to Wish List</a>